@font-face {
  font-family: "iransans";
  src: url(../fonts/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb.eot) format("embedded-opentype"),
    url(../fonts/IRANSansWeb.woff) format("woff"),
    url(../fonts/IRANSansWeb.ttf) format("truetype");
}

.aurora body {
  font-family: iransans;
}

.subnavbar-inner {
  padding: 0px;
}

.aurora .subnavbar {
  margin-top: -10px;
  padding-top: 0px;
}
.searchbar input[type="search"],
.searchbar input[type="text"] {
  border: 1px solid #d4c6c6;
}

.navbar:before {
  height: 0px !important;
}
/* Custom color theme properties */
:root {

  --f7-theme-color: #53402e;
  --f7-theme-color-rgb: 90, 200, 250;
  --f7-theme-color-shade: #2c1e1e;
  --f7-theme-color-tint: #2c1e1e;
  --f7-card-header-font-size: 12px;

  --f7-navbar-height: 40px;
  --f7-list-item-min-height: 40px;

  --f7-button-min-width: 28px;
  /*
  --f7-page-bg-color: #9DC4B5;
  --f7-navbar-bg-color:  #9DC4B5;
  --f7-toolbar-bg-color: #9DC4B5;

  --f7-list-bg-color: #CFE8EF;
  --f7-block-strong-bg-color: #CFE8EF;
  */

  --f7-menu-text-color: #fff;
  --f7-menu-font-size: 13px;
  --f7-menu-font-weight: 500;
  --f7-menu-line-height: 1.2;
  --f7-menu-bg-color: rgba(0, 150, 136);
  --f7-menu-item-pressed-bg-color: rgba(20, 20, 20, 0.9);
  --f7-menu-item-padding-horizontal: 10px;
  --f7-menu-item-spacing: 6px;
  --f7-menu-item-height: 28px;
  --f7-menu-item-dropdown-icon-color: rgba(255, 255, 255, 0.4);
  --f7-menu-item-border-radius: 4px;
  /*
--f7-menu-dropdown-pressed-bg-color: var(--f7-theme-color);
*/
  --f7-menu-dropdown-item-height: 24px;
  --f7-menu-dropdown-divider-color: rgba(255, 255, 255, 0.2);
  --f7-menu-dropdown-padding-vertical: 6px;
  /*
--f7-menu-dropdown-border-radius: var(--f7-menu-item-border-radius);
*/
  --f7-card-header-padding-vertical: 5px;
  --f7-card-header-padding-horizontal: 5px;
  --f7-menu-item-spacing: 2px;

  --f7-color-picker-popover-width: 350px;
  --f7-color-picker-slider-size: 6px;
  --f7-color-picker-slider-knob-size: 16px;
  --f7-color-picker-bar-size: 50px;
  --f7-color-picker-bar-min-height: 260px;
  --f7-color-picker-value-width: 64px;
  --f7-color-picker-value-height: 32px;
  --f7-color-picker-value-font-size: 16px;
  --f7-color-picker-value-border-radius: 4px;
  --f7-color-picker-hex-value-width: 84px;
  --f7-color-picker-label-font-size: 14px;
  --f7-color-picker-label-width: 10px;
  --f7-color-picker-label-height: 14px;
  --f7-color-picker-sb-spectrum-height: 260px;
  --f7-color-picker-sb-spectrum-handle-size: 16px;
  --f7-color-picker-wheel-width: 330px;
  --f7-color-picker-palette-value-width: 36px;
  --f7-color-picker-palette-value-height: 36px;
  --f7-color-picker-initial-current-color-height: 40px;
  --f7-color-picker-initial-current-color-border-radius: 4px;
  --f7-color-picker-sheet-bg-color: #fff;
  --f7-color-picker-popup-bg-color: #fff;
  --f7-color-picker-value-bg-color: rgba(0, 0, 0, 0.05);
  --f7-color-picker-group-bg-color: rgba(0, 0, 0, 0.05);
  --f7-color-picker-group-value-bg-color: #fff;
  
}

.theme-dark {
  --f7-page-bg-color: #2c1e1e;
  --f7-navbar-bg-color: #2c1e1e;
  --f7-navbar-border-color: #645a5a;
  --f7-navbar-text-color: #e9cfec;


}

:root .theme-dark,
:root.theme-dark {
  --f7-color-picker-sheet-bg-color: #121212;
  --f7-color-picker-popup-bg-color: #121212;
  --f7-color-picker-value-bg-color: rgba(255, 255, 255, 0.1);
  --f7-color-picker-group-bg-color: #000;
  --f7-color-picker-group-value-bg-color: rgba(255, 255, 255, 0.12);
}

.theme-dark .list ul {
  --f7-list-bg-color: #4e3b3b;
  --f7-list-border-color: #645a5a;
  --f7-list-item-border-color: #645a5a;
  color: #f1f1f1;
}

.theme-dark .block-strong {
  --f7-block-strong-text-color: #e9cfec;
  --f7-block-strong-bg-color: #2c1e1e;
  --f7-block-strong-border-color: #745050;
}

.theme-dark .block-title {
  --f7-block-title-text-color: #eccfe0;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-right.panel-visible-by-breakpoint:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-right.panel-visible-by-breakpoint
  ~ .view
  .navbar
  .panel-open[data-panel="right"] {
  display: none;
}

/*
Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios
  .panel-right:not(.panel-visible-by-breakpoint).panel-active
  ~ .view-main:before,
.ios
  .panel-right:not(.panel-visible-by-breakpoint).panel-closing
  ~ .view-main:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

.card-content {
  position: relative;
  min-height: 80px;
}

.aurora .subnavbar {
  margin-top: -3px;
  padding-top: 0px;
}

.minus-z {
  z-index: -1;
}

.card-content {
  min-height: 80px;
}

.fs-5 {
  font-size: 5px;
}

.menu-dropdown-item,
.menu-dropdown-link {
  justify-content: flex-start;
}

.pr-5 {
  padding-right: 5px;
}

.va {
  vertical-align: -2px;
}

.ml-5 {
  margin-left: 5px;
}

.gray-color {
  color: #282a36 !important;
}

.lightgray-color {
  color: #44475a !important;
}

.list .item-subtitle {
  white-space: normal;
}

.demo-facebook-card .card-header {
  display: block;
  padding: 5px;
  white-space: nowrap;
  min-height: 45px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: right;
}

.demo-facebook-card .demo-facebook-avatar img {
  border-radius: 50%;
}
.demo-facebook-card .demo-facebook-name {
  margin-right: 5px;
  padding-top: 0px;
  float: right;
  font-size: 12px;
  font-weight: 600;
}

.demo-facebook-card .demo-facebook-title {
  margin-right: 7px;
  padding-top: 7px;
  float: right;
  font-size: 14px;
  font-weight: 600;
}

.demo-facebook-card .demo-facebook-profile {
  margin-right: 0px;
  padding-top: 0px;
  font-size: 10px;
  font-weight: 400;
  color: gray;
}

.demo-facebook-card .demo-facebook-sub {
  margin-right: 5px;
  padding-top: 15px;
  float: left;
  font-size: 9px;
  font-weight: 300;
  color: grey;
}
.demo-facebook-card .demo-facebook-date {
  float: left;
  font-size: 13px;
  color: #8e8e93;
}
.demo-facebook-card .demo-facebook-more {
  font-size: 8pt;
  color: grey;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}

.demo-card-header-pic .card-header {
  height: 12vw;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 5px black;
}

.row {
  justify-content: inherit;
}

.media-list .item-media img,
li.media-item .item-media img {
  border-radius: 50%;
}

.profile-footer {
  justify-content: inherit;
  box-sizing: initial !important;
  padding: 5px;
  height: 80px;
  overflow: auto;
  align-items: baseline;
}

.chip {
  margin-right: 2px;
}

.gauge {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.center{
  text-align: center;
}

.list .item-subtitle { 
  overflow: visible;
  white-space: normal;
}

.aurora .navbar .left {
  margin-left: 146px;
}

.list .item-inner { 
  justify-content: initial;
}

.font-size-20 {
  font-size: 20px;
}

.card-header img {
  border-radius: 50%;
}
 
.card-content  img {
  border-radius: 50%;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}


.profile-card {
  position: absolute;
  top: 30px;
  right: 110px;
  font-weight: bold;
  font-size: 13px;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.h-40 {
  height: 40px !important;
  min-height: 40px !important;
  overflow: hidden;
}

.item-media img {
  border-radius: 50%;
}

.item-title  time{
color:#777777;
font-size: 10px;
}
.w-100 {
  width: 100%;
}

.list .item-after {
font-size: 10px;
color: var(--f7-navbar-bg-color)
}

.card-header {
  padding-right: 10px;
  padding-left: 10px;
}

.work-media .item-title {
  margin-top: 4px !important;
}

:root {
  --f7-autocomplete-dropdown-placeholder-color: #a9a9a9;
  --f7-autocomplete-dropdown-preloader-size: 20px;
  /*
  --f7-autocomplete-dropdown-selected-bg-color: rgba(var(--f7-theme-color-rgb), 0.2);
  */
  --f7-autocomplete-dropdown-bg-color: #fff;
}
:root .theme-dark,
:root.theme-dark {
  --f7-autocomplete-dropdown-bg-color: #1c1c1d;
}
.ios {
  --f7-autocomplete-dropdown-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  --f7-autocomplete-dropdown-text-matching-font-weight: 600;
  --f7-autocomplete-dropdown-font-size: var(--f7-list-font-size);
  --f7-autocomplete-dropdown-text-color: #000;
  --f7-autocomplete-dropdown-text-matching-color: #000;
}
.ios .theme-dark,
.ios.theme-dark {
  --f7-autocomplete-dropdown-text-color: #fff;
  --f7-autocomplete-dropdown-text-matching-color: #fff;
}
.md {
  --f7-autocomplete-dropdown-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  --f7-autocomplete-dropdown-text-matching-font-weight: 400;
  --f7-autocomplete-dropdown-font-size: var(--f7-list-font-size);
  --f7-autocomplete-dropdown-text-color: rgba(0, 0, 0, 0.54);
  --f7-autocomplete-dropdown-text-matching-color: #212121;
}
.md .theme-dark,
.md.theme-dark {
  --f7-autocomplete-dropdown-text-color: rgba(255, 255, 255, 0.54);
  --f7-autocomplete-dropdown-text-matching-color: rgba(255, 255, 255, 0.87);
}
.aurora {
  --f7-autocomplete-dropdown-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  --f7-autocomplete-dropdown-text-matching-font-weight: 700;
  --f7-autocomplete-dropdown-font-size: 13px;
  --f7-autocomplete-dropdown-text-color: #000;
  --f7-autocomplete-dropdown-text-matching-color: #000;
}
.aurora .theme-dark,
.aurora.theme-dark {
  --f7-autocomplete-dropdown-text-color: #fff;
  --f7-autocomplete-dropdown-text-matching-color: #fff;
}

.hidden {
  visibility: hidden;
}

.color-red {
  color: rgb(238, 81, 81) !important;
}

.color-blue {
  color: rgb(78, 105, 228) !important;
}

.color-green {
  color: rgb(61, 150, 58) !important;
}


.p-static {
  position: static !important;
}

.inline {
  display: inline-flex !important;
}

.bg-w-after:after {
  background-color: white !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mh-auto {
  min-height: auto !important;
}

.checkbox i:after, .icon-checkbox:after {
  right: calc(0px - var(--f7-checkbox-border-width));
}

.line-through .item-title {
  text-decoration: line-through   !important;
  text-decoration-color: gray !important;
}

.bg-gray {
  background: #d7d6db !important;
}

.bg-gray .card-header:after  {
  background-color: #838283 !important;
}
.bg-gray .card-footer:before  {
  background-color: #838283 !important;
}

.of-scroll {
  overflow: scroll !important;
}

.of-visible {
  overflow: visible !important;
}

.mw-auto{
  min-width: auto !important;
}


.card-footer .searchbar input[type=search], .card-footer .searchbar input[type=text] {
  font-size: 10px;
}

.card-footer .searchbar-enabled .searchbar-disable-button {
  font-size: 10px;
}

.list textarea::placeholder {
  padding-top: 2px;
  font-size: 11px;
}

.date-input textarea::placeholder {
  padding-top: 2px;
  font-size: 11px;
}

.va-minus-2 {
  vertical-align: -2px;
}

.bg-gainsboro {
 
}

.bg-orange {
  background-color: #fcca90 !important;
}

.bg-yellow {
  background-color: #fdf9c1 !important;
}

.fs-8 {
  font-size: 8px !important;
  font-weight: normal;
}

.ml-2 {
margin-left: 2px !important;
}

.card-orange {
  background-color: #fcca90 !important;
  border: 1px solid #bd6c02;
}


.notification {
  direction: rtl;
}

.fs-13 {
  font-size: 13px;
}

.ml-20 {
  margin-left: 20px !important;
}

.float-left {
  float: left;
}

.va-2 {
  vertical-align: 2px;
}

.pd-5 {
  padding-right: 5px;
}

.pd-10 {
  padding-right: 10px;
}

:root {
  --f7-tooltip-bg-color: rgba(0, 0, 0, 0.87);
  --f7-tooltip-text-color: #fff;
  --f7-tooltip-border-radius: 4px;
  --f7-tooltip-padding: 8px 16px;
  --f7-tooltip-font-size: 14px;
  --f7-tooltip-font-weight: 500;
  --f7-tooltip-desktop-padding: 6px 8px;
  --f7-tooltip-desktop-font-size: 12px;
}

.link img {
  border-radius: 50%;
}
.fl {
  float: left;
}
.f-color-black {
  color: black !important;
}

.bg-teal {
  background-color: rgb(97, 177, 214) !important;
}

.fs-11 .item-inner  .item-subtitle {
  font-size: 11px !important;
}

.fs-11 .item-inner  .item-text {
  font-size: 11px !important;
}

.fs-11 .item-inner  .item-title-row {
  font-size: .95em !important;
}

.fs-10 .item-inner  .item-subtitle {
  font-size: 1.2em !important;
}

.fs-10 .item-inner  .item-title-row {
  font-size: 1.1em !important;
}

.fs-10 .item-inner  .item-text {
  font-size: 0.9em !important;
}

.fs-10 .item-inner  .item-text .link{
  font-size: 1.2em !important;
  vertical-align: -2px;
}