@font-face {
  font-family: 'iransans';
  src:    url(../fonts/IRANSansWeb.eot);
  src:  url(../fonts/IRANSansWeb.eot) format('embedded-opentype'),
  url(../fonts/IRANSansWeb.woff) format('woff'),
  url(../fonts/IRANSansWeb.ttf) format('truetype');
}

.aurora body {
  font-family: iransans;
}

.subnavbar-inner {
  padding: 0px;
}

.aurora .subnavbar {
  margin-top: -10px;
  padding-top: 0px;
}
.searchbar input[type=search], .searchbar input[type=text] {
  border: 1px solid #d4c6c6;
}

.navbar:before {
  height: 0px !important;
}
/* Custom color theme properties */
:root {
  --f7-theme-color: #009688;
  --f7-theme-color-rgb:  0, 150, 136;
  --f7-theme-color-shade: #006d63;
  --f7-theme-color-tint: #00bfad;

  --f7-navbar-height: 40px;
  --f7-list-item-min-height: 40px;
  /*
  --f7-page-bg-color: #9DC4B5;
  --f7-navbar-bg-color:  #9DC4B5;
  --f7-toolbar-bg-color: #9DC4B5;

  --f7-list-bg-color: #CFE8EF;
  --f7-block-strong-bg-color: #CFE8EF;
  */
}

.theme-dark {

  --f7-page-bg-color: #767677;
  --f7-navbar-bg-color: #767677;
  --f7-navbar-border-color: #5d5c5c;
  --f7-navbar-text-color: #dcdada;

}

.theme-dark .list ul {
  --f7-list-bg-color: #5d5d5d;
  --f7-list-border-color: #484848;
  --f7-list-item-border-color: #484848;
  color: #dcdada;
}

.theme-dark .block-strong {
  --f7-block-strong-text-color: #dcdada;
  --f7-block-strong-bg-color: #767677;
  --f7-block-strong-border-color: #5d5c5c;
}


.theme-dark .block-title {
  --f7-block-title-text-color:  #dcdada;
}


/* Left Panel right border when it is visible by breakpoint */
.panel-right.panel-visible-by-breakpoint:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-right.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="right"] {
  display: none;
}

/*
Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-right:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-right:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.aurora .subnavbar {
    margin-top: -3px;
    padding-top: 0px;
}

.minus-z {
  z-index: -1;
}
